<form [formGroup]="formGroup">

  <div class="wrapper">
    <app-textarea
      formControlName="text"
      [title]="'Niki'"
      [placeholder]="'qwerty'"
      [padding]="true"
      [errors]="formGroup.get('text').dirty && formGroup.get('text').errors"
    ></app-textarea>
  </div>

  <button type="submit" (click)="submit()">Submit</button>
</form>


<h1>Value: {{ formGroup.get('text').value }}</h1>
<h1>Touched: {{ formGroup.get('text').touched }}</h1>
<h1>Dirty: {{ formGroup.get('text').dirty }}</h1>
<h1>Error: {{ formGroup.get('text').hasError('required') }}</h1>
